/* Default resets*/

html {
    font-size: 1rem;
}


body {
    text-align: center;
    color: white;
    background-color: #2E0249;
    background-image: url("../images/outrun.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

label {
    display: block;
}
/* header */
/* .current-score {
    font-size: 4.8rem;
    text-align: center;
} */

h1 {
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    background: -webkit-linear-gradient(270deg, rgba(89,132,169,1) 0%, rgba(247,250,252,1) 27%, rgba(174,112,162,1) 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-color: #570A57; */
}
h2 {
    white-space: pre;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #2E0249;
}

p, input, label{ 
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
input {
    width: 50px;
    background-color: #A91079;
    color: white;
    text-align: center;
    border: 5px solid #2E0249;
}
p {
    margin-bottom: 4rem;
}
p, input, label{
    background: -webkit-linear-gradient(270deg, rgba(0,150,255,1) 0%, rgba(114,255,255,1) 5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button {
    display: block;
    border: none;
    text-decoration: none;
    font-size: 2.5rem !important;
    color: white !important;
    background: -webkit-linear-gradient(95deg, #7700ff 0%, #261447 40%);
    padding: 2rem 4rem;
    margin: 0 auto;
    font-style: initial;
    background-color: #F806CC;
    border-radius: 7px;
    cursor: pointer;
}
/* gameboard*/
.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* card*/
.card {
    /* height: min(20vw, 30vh); */
    height: min(15vw, 16vh);
    background: radial-gradient(circle, rgba(87,10,87,1) 0%, rgba(169,16,121,1) 35%, rgba(248,6,204,1) 100%);
    /* width: 16.1%; */
    flex: 0 1 5em;
    border: 1px solid #2E0249;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}



/* breakpoints for card*/
@media (max-width: 950px) {
    html {
        font-size: 0.85rem;
    }
    .card {
        /* width: 18%; */
    }
}

@media (max-width: 763px) {
    html {
        font-size: 0.7rem;
    }
    .card {
        /* width: 19%; */

        /* height: max(11vw, 20vh); */
    }
}

@media (max-width: 607px) {
    .card {
        /* width: 25%; */
    }
}